
/*CSS styles to be applied in all media-queries*/

body {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw; 
    
    background-color: rgb(7, 209, 142);
    font-family: 'Mulish', sans-serif;

    font-size: 1.5rem;
}

.main-container {
    width: 70vw;
    height: 50vh;
    background-color: white;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 10px;

    transition: height 0.7s ease;
    transition: width 1s ease;
}

.main-container-header {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;

    background-color: rgb(34, 40, 71);

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.round {
    width: 15px;
    height: 15px;
    border: 2px solid black;
    box-shadow: 0 0 0 1.5pt white;
    border-radius: 10px;
    margin: 0 5px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.main-container.big {
    height: 90vh;
    width: 90vw;
}

.padding-10 {
    padding: 10px;
}

#enlargeBtn {
    color: white;
    font-size: 1.4rem;
    margin-left: auto;
    padding: 10px 15px;
}

#enlargeBtn:hover {
    cursor: pointer;
    
}

form {
    margin-top: 50px;
}

input {
    height: 50px;
    width: 85%;
    padding: 5px 20px;

    border-radius: 20px;
    border: 1px solid gray;
    background-color: lightgray;
    color: red;

    font-size: 1.5rem;
}

input:focus, input:active{
    border: 1px solid gray;
    outline:none;
}

#submitMessage {
    height: 62px;
    width: 62px; 
    border-radius: 30px;

    background-color: rgb(77, 214, 168);
    color: white;
    font-size: 1.5rem;
    border:none;
    box-shadow: none;

}


/*Css styles for laptops and desktops*/

@media only screen and (min-width: 992px) {
    

    

    

}


/*CSS styles for tablets*/

@media only screen and (min-width: 768px) {

}


/*CSS styles for small devices*/

@media only screen and (min-width: 600px) {
    
}


/*CSS styles for extra small devices*/

@media only screen and (max-width: 600px) {
    
}